.chart-div {
/*  height: 100%;
  width: 100%;
  float: right;*/
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: block;
}

.chart-card {
  margin-left:100px;
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  overflow: visible !important;
}

.table-card {
  padding: 5px;
  width: 500px;
  height: 705px;
}

mat-card-title{
  text-align: center;
}
