<mat-grid-list cols="2" rowHeight="800px">
  <mat-grid-tile >
    <mat-card class="chart-card">
      <mat-card-title >Top 5 Students</mat-card-title>
      <mat-card-content>
        <div class="chart-div">
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="chartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="table-card">
      <mat-card-title >Leaderboard</mat-card-title>
      <mat-card-content>
        <mat-form-field  style="width:100%"><input matInput (keyup)="updateFilter($event)" placeholder="Search..."></mat-form-field>
        <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'"
                       [headerHeight]="50" [footerHeight]="50"
                       [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




